{
	auto_https off
}

http://localhost {
	root * /usr/share/caddy
	file_server

	encode gzip

	# SPA config:
	# try_files {path} /index.html

	header {
		# Security headers
		X-Frame-Options "DENY"
		X-Content-Type-Options "nosniff"
		Referrer-Policy "strict-origin-when-cross-origin"
		Permissions-Policy "geolocation=(), microphone=(), camera=()"

		# CSP currently disabled till we can configure it better
		# Content-Security-Policy "default-src 'self'; script-src 'self'; style-src 'self' 'unsafe-inline'; img-src 'self' data:; font-src 'self' data:"

		# HSTS used to ensure HTTPS (not used in localhost)
		# Strict-Transport-Security "max-age=31536000; includeSubDomains; preload"

		# Caching headers
		Cache-Control "public, max-age=5184000, must-revalidate"
		ETag "{http.response.body}"
	}
}
