/* ============== Blurs =================== */

.bg-blur {
  z-index: 0;
}

.bg-blur .ellipse-1 {
  background-color: var(--btn-purple-layer-top);
  position: absolute;
  border-radius: 50%;
  filter: blur(130px);
  width: 1100px !important;
  height: 750px !important;
  opacity: 0.4;
  left: 0;
  right: 0;
  margin-inline: auto;
  width: fit-content;
  top: 20%;
}

.bg-blur .ellipse-2 {
  background-color: var(--btn-purple-layer-top);
  position: absolute;
  border-radius: 50%;
  filter: blur(100px);
  width: 600px !important;
  height: 400px !important;
  opacity: 0.5;
  left: 0;
  right: 0;
  margin-inline: auto;
  width: fit-content;
  top: 20%;
}