/* ============== Navigation Menu =================== */
.nav-menu {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem 2rem;
  margin-bottom: 2rem;
}

.nav-menu .border {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 50px;
  border: 2px solid var(--text-color);
  padding: .5rem 2rem;
}

.nav-menu .border .nav-content {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  /* TODO: Para layout mobile/tablet esse valor deve variar */
  gap: 3rem;
}

.nav-menu .border .item {
  color: var(--text-color);
  font-size: 1.2rem;
  transition: all 0.3s ease;
  text-decoration-color: var(--link-hover-color);
}

.nav-menu .border .item:hover {
  font-weight: 700;
  text-decoration: underline wavy var(--link-hover-color) 2px;
  text-underline-offset: 2px;
}

.nav-menu .border .icon {
  transition: all 0.3s ease;
  padding: .7rem .7rem .4rem .7rem;
  border-radius: 50px;
}

.nav-menu .border .icon:hover {
  background-color: var(--link-hover-color);
}

.nav-menu .border .logo {
  text-align: center;
  color: var(--text-color);
  margin: auto 2rem;
  user-select: none;
  cursor: pointer;
}

.nav-menu .border .logo .arcana {
  font-weight: 600;
  font-size: 2rem;
}

.nav-menu .border .logo .pixel {
  font-family: var(--font-family-pixel);
  font-weight: 400;
  font-style: normal;
}